

NEXT_PUBLIC_CHAIN_ID=421614
NEXT_PUBLIC_RPC_URL=<YOUR_ARBITRUM_SEPOLIA_RPC_URL>

NEXT_PUBLIC_PRIVY_APP_ID=<YOUR_PRIVY_APP_ID>

BICONOMY_BUNDLER_URL=<YOUR_BICONOMY_BUNDLER_URL>
BICONOMY_PAYMASTER_KEY=<YOUR_BICONOMY_PAYMASTER_KEY>  # secret

REGISTRY_ADDRESS=<FILLED_AFTER_DEPLOY>
FACILITATOR_ADDRESS=<FILLED_AFTER_DEPLOY>
DEMO_TOKEN_ADDRESS=<FILLED_AFTER_DEPLOY>

NEXT_PUBLIC_OWNER_ADDRESS=0xB773494a1C7cbfB3266b958e07fe367a98Cc8203
